<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div class="jumbotron text-center" id="jumbo">
    <h1>
        <form action="{{ url_for('search') }}" method="post">
            <input type="text" name="search_query" placeholder="Please Enter A Search..." id="jumbo_search">
            <button type="submit" id="search_button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </h1>
    <h2>Encyclopedia</h2>
</div>
<div class="container">
    <p>I am test 'div' for more text and an image</p>
    <img src="../static/images/cats_circular.gif">
</div>
</div>
</body>
</html>