#search_button{
    border: groove;
    border-radius: 20px;
}
#jumbo_search{
    background-color: #c0703c;
    border: inset;
    border-radius: 20px;
}
:focus{
    color: #f5d01b;
    border-radius: 20px;
    outline: none;
}
#jumbo{
    background: #da8216;
}
body{
    background-color: #FFE418
}