<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div class="jumbotron text-center">
  <h1>Encyclopedia
      <form action="/search" method="post">
          <input type="text" value="Enter Search Query" name="jumbo_search">
          <button type="submit" class="btn btn-primary" name="search_button">Search
              <span class="glyphicon glyphicon-search"></span>
          </button>
      </form>
  </h1>
</div>
<div class="container">

  </div>
</div>
</body>
</html>